.defaultButton {
    background-color: bisque; // burlywood;
    border: solid 3px darkgoldenrod;
    border-radius: 10px;
    color: red;
    font-size: large;
    font-weight: 900;
    margin: 0.5rem 0;
    width: 15rem;
    height: 3rem;
    font-family: 'Rubik Maps', serif;
}