.defaultButton {
    background-color: bisque; // burlywood;
    border: solid 3px var(--brown-border);
    border-radius: 10px;
    color: red;
    font-size: larger;
    font-weight: 900;
    margin: 0.5rem 3px;
    width: 15rem;
    height: 3rem;
    font-family: 'Rubik Maps', serif;
    white-space: pre-wrap;
}

.defaultButton[disabled], .defaultButton:disabled{
    background-color: bisque; // burlywood;
    border: solid 3px burlywood;
    color: lightcoral;
}

.lgButton{
    width: 15rem;
}

.smButton{
    width: fit-content;
}