.callerSection{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .historyList{
        display: flex;
        list-style-type: none;
        padding: 1rem 0;
        width: 90vw;
        height: 2.5rem;
        overflow-y: scroll;

        .historyNumber{
            margin-left: 1rem;
            color: red;
            font-size: 1.5rem;
            font-weight: 900;
        }
    }

    .lastExtractedNumber{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: bisque; // burlywood;
        border: solid 6px darkgoldenrod;
        border-radius: 50%;
        color: red;
        font-size: 5rem;
        font-weight: 900;
        margin: 0.5rem 0;
        width: 8rem;
        height: 8rem;
    }
}
