.callerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }   

    .historyList{
        display: flex;
        list-style-type: none;
        margin: 0.3rem;
        padding: 1rem 0;
        width: 100%;
        height: 2.5rem;
        overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        .historyNumber{
            color: red;
            font-size: 1.5rem;
            font-weight: 900;
        }

        .historyNumber:not(:first-child){
            margin-left: 1rem;
        }
    }

    .bodyContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .lastExtractedNumber{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: bisque; // burlywood;
            border: solid 6px var(--brown-border);
            border-radius: 50%;
            color: red;
            font-size: 7rem;
            font-weight: 900;
            margin-bottom: 1rem;
            width: 10rem;
            height: 10rem;
        }
    
        .lowerBodyContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            .buttonsContainer{
                width: 88vw;
                display: flex;
                justify-content: space-evenly;
            }
        
            .callerCardsContainer{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-column-gap: 5px;
                grid-row-gap: 3px;
                width: fit-content;
            }
        
            .restartButton{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .callerSection{
        .historyList {
            -ms-overflow-style: none;
            scrollbar-width: none;

            .historyNumber{
                font-size: 2rem;
            }

        }

        .historyList::-webkit-scrollbar {
            display: none;
        }

        .bodyContainer {
            width: 95%;
            flex-direction: row;
            justify-content: space-around;
    
            .lastExtractedNumber {
                border-width: 12px;
                font-size: 15rem;
                height: 20rem;
                width: 20rem;
            }
    
            .lowerBodyContainer {
                width: 45%;
    
                .buttonsContainer{
                    width: 100%;
                }
            }
        }
    }
    
}
