.backButton {
    background-color: bisque; // burlywood;
    border: solid 3px darkgoldenrod;
    border-radius: 50%;
    color: red;
    font-size: large;
    font-weight: 900;
    // margin: 0.5rem 0;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;

    .backLink{

        height: 100%;

        .backIcon{
            width: max-content;
            height: 100%;
        }
    }

}