.card {
    background-color: burlywood;
    border: solid 1px burlywood;
    border-radius: 3px;
    margin: 3px 0;
    max-width: 30rem;
    width: 100%;

    .cardRow {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .emptyBox{
            width: 3rem;
            height: 2rem;
            background-color: blanchedalmond;
            border: solid 2px burlywood;
            border-radius: 3px;
            color: darkslategray;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}