.card{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: burlywood;
    border: solid 1px burlywood;
    border-radius: 3px;

    .emptyBox{
        background-color: red;
            border: solid 2px burlywood;
            border-radius: 3px;
            color: darkslategray;
            display: flex;
            justify-content: center;
            align-items: center;
    }
}