.title{
    color: red;
    font-family: 'Rubik Maps', serif;
    font-display: fallback;
    // filter: saturate(15);
    // font-family: 'Sansita', sans-serif;
    letter-spacing: 2px;
    // font-weight: 900;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7, 0 0 4px #eecaa7;
}