.boxContainer{
    // display: grid;
    background-color: blanchedalmond;
            border: solid 2px burlywood;
            border-radius: 3px;
            color: darkslategray;
            display: flex;
            justify-content: center;
            align-items: center;
}