.viewContainer {
    width: 100%;

    .backButton{
        position: absolute;
        left: 10px;
        top: 0;
    }

    .saveButton{
        position: absolute;
        top: 0;
        right: 10px;
        border: none;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: bisque;
        border: solid 3px darkgoldenrod;
        font-family: 'Rubik Maps', serif;
        color: red;
        font-size: large;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        & svg {
            width: 21px;
        }
    }

    .cardsContainer{
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}