.button {
    background-color: bisque;
    border: solid 3px darkgoldenrod;
    border-radius: 10px;
    margin: 0.5rem 0;
    width: 20rem;
    height: 3rem;

    .link{
        text-decoration: none;
        color: whitesmoke;
    }
}