.bodyContainer {
    height: 77vh;
    display: flex;
    flex-direction: column-reverse;

    .link{
        text-decoration: none;
        color: inherit;
    }
    
    .button {
        height: fit-content;
        padding: 0.5rem;
    }
    
    .ongoingGameSection{
        margin: 1rem 0;
    
        header {
            margin-bottom: 5%;
    
            & svg {
                height: 2rem;
                width: 2rem;
                fill: goldenrod;
            }
    
            & h4, p {
                font-family: 'Sansita', sans-serif;
                letter-spacing: 2px;
                font-size: larger;
                font-weight: 800;
                color: red;
                margin: 0;
            }
    
            & p {
                font-size: small;
                letter-spacing: 1px;
            }
        }
        
    }
}