#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  text-align: center;
}

/* .slide-in{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../public/assets/tablecloth-texture-psd.gif");
  transform-origin: bottom;
  z-index: 10;
}

.slide-out{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../public/assets/tablecloth-texture-psd.gif");
  transform-origin: top;
  z-index: 10;
} */